In [ ]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tensorflow import keras
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [ ]:
train = pd.read_csv("/gdrive/My Drive/train.csv").iloc[:, 1:]
test = pd.read_csv("/gdrive/My Drive/test.csv").iloc[:, 1:]
submission = pd.read_csv("/gdrive/My Drive/sample_submission.csv")

In [ ]:
train.shape

(60000, 785)

In [ ]:
x_train = train.drop(["label"], axis=1)
x_test = test
y = train["label"]

In [ ]:
x_train = x_train[0:50000]
x_val = x_train[50000:60000]

y_train = y[0:50000].to_numpy()
y_val = y[50000:60000].to_numpy()

In [ ]:
x_train = x_train.astype('float32') / 255
x_val = x_val.astype('float32') / 255
x_test = x_test.astype('float32') / 255

In [ ]:
y_train = tf.keras.utils.to_categorical(y_train, num_classes=10)
y_val = tf.keras.utils.to_categorical(y_val, num_classes=10)

In [ ]:
model = keras.Sequential([ 
    keras.layers.Flatten(input_shape=(28, 28)),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.BatchNormalization(),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(10, activation='softmax')
])

In [ ]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
WARNING:tensorflow:Model was constructed with shape (None, 28, 28) for input KerasTensor(type_spec=TensorSpec(shape=(None, 28, 28), dtype=tf.float32, name='flatten_input'), name='flatten_input', description="created by layer 'flatten_input'"), but it was called on an input with incompatible shape (None, 784).
WARNING:tensorflow:Model was constructed with shape (None, 28, 28) for input KerasTensor(type_spec=TensorSpec(shape=(None, 28, 28), dtype=tf.float32, name='flatten_input'), name='flatten_input', description="created by layer 'flatten_input'"), but it was called on an input with incompatible shape (None, 784).
1563/1563 [==============================] - 5s 3ms/step - loss: 0.8637 - accuracy: 0.7175
Epoch 2/10
1563/1563 [==============================] - 4s 3ms/step - loss: 0.3124 - accuracy: 0.9093
Epoch 3/10
1563/1563 [==============================] - 4s 3ms/step - loss: 0.2527 - accuracy: 0.9277
Epoch 4/10
1563/1563 [==============================] - 4s 2ms/step - loss: 0.2222 - accuracy: 0.9351
Epoch 5/10
1563/1563 [==============================] - 4s 3ms/step - loss: 0.2010 - accuracy: 0.9406
Epoch 6/10
1563/1563 [==============================] - 4s 3ms/step - loss: 0.1867 - accuracy: 0.9434
Epoch 7/10
1563/1563 [==============================] - 4s 2ms/step - loss: 0.1763 - accuracy: 0.9463
Epoch 8/10
1563/1563 [==============================] - 4s 3ms/step - loss: 0.1675 - accuracy: 0.9503
Epoch 9/10
1563/1563 [==============================] - 4s 3ms/step - loss: 0.1622 - accuracy: 0.9528
Epoch 10/10
1563/1563 [==============================] - 4s 3ms/step - loss: 0.1612 - accuracy: 0.9525

In [ ]:
y_pred = np.argmax(model.predict(x_test), axis=1)

WARNING:tensorflow:Model was constructed with shape (None, 28, 28) for input KerasTensor(type_spec=TensorSpec(shape=(None, 28, 28), dtype=tf.float32, name='flatten_input'), name='flatten_input', description="created by layer 'flatten_input'"), but it was called on an input with incompatible shape (None, 784).

In [ ]:
y_pred

array([7, 2, 1, ..., 4, 5, 6])

In [ ]:
submission

      index  label
0         0      0
1         1      0
2         2      0
3         3      0
4         4      0
...     ...    ...
9995   9995      0
9996   9996      0
9997   9997      0
9998   9998      0
9999   9999      0

[10000 rows x 2 columns]

In [ ]:
submission['label'] = y_pred

In [ ]:
submission.to_csv("/content/submission.csv", index=False)