In [4]:
# 딕셔너리 매핑 방식을 사용해 순서가 있는 size 특성을 정수로 변환하기

import numpy as np
import pandas as pd

df = pd.DataFrame([
                  ['green', 'M', 10.1, 'class1'],
                  ['red', 'L', 13.5, 'class2'],
                  ['blue', 'XL', 15.3, 'class3']
                  ])

df.columns = ['color', 'size', 'price', 'classlabel']

class_mapping = {label:idx for idx, label in enumerate(np.unique(df['classlabel']))}

class_mapping

{'class1': 0, 'class2': 1, 'class3': 2}

In [5]:
df['classlabel'] = df['classlabel'].map(class_mapping)
df

   color size  price  classlabel
0  green    M   10.1           0
1    red    L   13.5           1
2   blue   XL   15.3           2

In [2]:
# 사이킷런 LabelEncoder 클래스 사용

from sklearn.preprocessing import LabelEncoder

class_le = LabelEncoder()
y = class_le.fit_transform(df['classlabel'].values)
y

array([0, 1, 2], dtype=int64)